services:
  #no cloudflare
  frontend:
    build:
      context: ./client
      target: dev
    command: npm run dev
    environment:
      NODE_ENV: development
      CHOKIDAR_USEPOLLING: "true"
    ports:
      - "3000:3000"
    volumes:
      - ./client:/app
      - /app/node_modules

  backend:
    command: npm run dev
    environment:
      NODE_ENV: development
      PORT: "5000"
      MONGO_URL: mongodb://db:27017/appdb
    ports:
      - "5000:5000"
    volumes:
      - ./server:/app
      - /app/node_modules

  db:
    # Standard Mongo port on the host for local tools like Mongo Compass
    ports:
      - "27017:27017"
